*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
:root {
    --color-primary: #191d2b;
    --color-secondary:  hsl(120,100%,50%); ;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #7b8290;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}
header{
    height: 60px;
    background-color:hsl(228,15%,15%);
    display: flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.h1{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s11 a i {
color: white;
}
.nav1{
    width: 40%;  
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 150px;
}
.nav1 a,
.h1 p{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder;
}
#h11{
    display: none;
}
.nav1 a:hover{
    
    color: hsl(120,100%,50%);
}
.moz{
    color: hsl(120,100%,50%); 
}
#x{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
#gun{
    margin-right: 10px;
    color: white;
    font-size: 20px;
}
#ham{
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
}
section{
    height:700px;
    background-color:hsl(228,15%,15%); ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Dancing Script', cursive;
}
.s{
    display: flex;
    width:65%;
    height: 65%;
}
.s1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.s2{
    width: 50%;
}
.s2 img{
    width: 100%;
    height: 100%;
}
#btn1{
    width: 100px;
    height:40px;
    border-radius: 5px;
    background-color: hsl(120,100%,50%);
    color: white;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    border: hsl(120,100%,50%) ;
}
.s h1{
    font-size: 50px;
}
.s h2{
    font-size: 40px;
    display: inline;
}
.span2{
    color: hsl(120,100%,50%); 
}
.fa-brands 
{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.s p{
    font-size: 25px;
    line-height: 35px;
}
main{
    height:700px;
    background-color:hsl(228,15%,20%); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Dancing Script', cursive;
}
#btn2{
    width: 100px;
    height:40px;
    border-radius: 5px;
    background-color: hsl(120,100%,50%);
    color: white;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
    border: hsl(120,100%,50%) ;
}
.timeline-item h5{
font-weight: bolder;
color: white;
}
main .s .s1{
    padding-left: 30px;
    justify-content: center;
}
main .s .s1 p{
    margin-top: 30px;
}
#span3{
    font-size: 40px;
}
.titre3{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color:hsl(228,15%,20%); 
    color: white;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 30px;
}
.titre3 p{
    font-size: 20px;
}
.span4{
    font-size: 40px;
}
article{
    height:100vh;
    background-color:hsl(228,15%,20%); 
    color: white;
    font-family: 'Dancing Script', cursive;
}
.ar1{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}
.ar{
    width:60%;
    height: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:30px 20px;
}
.card{
    cursor: pointer;
}
.card img{
width:300px;
height: 200px;
border-radius: 15px;
cursor: pointer;
position: relative;
}
.contact{
    height: 100vh;
    max-width: 100vw;
    background-color:hsl(228,15%,20%); 
    color: white;
    font-family: 'Dancing Script', cursive;
}
#projects,
#contact
{
    background-color:hsl(228,15%,20%); 
    height: 80px;
}
#services{
    background-color:hsl(228,15%,15%); 
    height: 80px;
}
.c11{
    display: flex;
    justify-content: center;
    height:450px;
    }
.c1{
        display: flex;
        width:40%;
        height: 65%;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .input1{
        width: 48.5%;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .input2{
        width: 100%;
        height: 330px;
        padding-left: 20px;
    }
    input{
        background-color:hsl(228,15%,15%); 
        color: aliceblue;
        border-radius: 5px;
        border: none;
    }
    #btn3{
        width: 100px;
        height:40px;
        border-radius: 5px;
        background-color: hsl(120,100%,50%);
        color: white;
        cursor: pointer;
        font-family: 'Dancing Script', cursive;
        margin-top: 30px;
        border: hsl(120,100%,50%) ;
    }
    .btn2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .services{
        height: 100vh;
        max-width: 100vw;
        background-color:hsl(228,15%,15%); 
        color: white;
        font-family: 'Dancing Script', cursive;
    }
    .services .titre3{
        background-color:hsl(228,15%,15%); 
    }
    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 350px;
    }
    .container{
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .carte{
        background-color:hsl(228,15%,20%); 
        width: 380px;
        height: 270px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: solid 3px hsl(228,15%,20%);
    }
    .container i{
        color: hsl(120,100%,50%); 
        font-size: 50px;
    }
    .c111{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        width: 100%;
        height: 100%;
    }
    .carte:hover{
        border:hsl(120,100%,50%)  solid 3px;
    }
    #about{
        position: relative;
    }
    #m{
        position: sticky;
        right: 10px;
        bottom: 10px;
        font-size: 30px;
        color: hsl(120,100%,50%); 
        border:hsl(120,100%,50%)  solid 3px;
    }
    .maison{
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
    footer{
        background-color:hsl(228,15%,15%); 
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-family: 'Dancing Script', cursive;
    }
    footer i{
    color: hsl(120,100%,50%); 
    }
    .span5{
        font-size: 20px;
    }
@media screen and (max-width:1024px) {
    .time{
        height: fit-content;
    }
    .timeline {
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
        padding: 20PX;
      }
    .nav1{
        margin-right: 20px;
        justify-content: end;
    }
    /* #y{
position: fixed;
top: 0;
z-index: 999999999999;
height: 40px;
    } */
   
     #home{
        margin-top: 60px;
        height: 600px;
     }
    #ham{
        display: block;
    }
    #x{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        color: white;
    }
    .nav1 a,
    .nav1 #x{
        display: none;
    }
    .nav1 a{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .h1{
        margin-left: 20px;
        justify-content:flex-start;
    }
    .moz{
        display: none;
    }
    #img{
        width: 300px;
    }
    #gun{
        display: block;
        font-size: 20px;
    }
    section{
        height: 530px;
    }
    .s{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .s1{
        width: 100%;
        align-items: center;
        height: 48%;
    }
    .s2{
        width:100%;
        height: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    .s h1{
        font-size: 30px;
    }
    .s h2{
        font-size: 20px;
    }
    .span1{
        color: hsl(120,100%,50%); 
    }
    .s p{
        font-size: 13px;
    }
    .s2 img{
        width:50%;
        height: 70%;
        background-size: cover;
        margin-top: 30px;
        border-radius: 100px;
    }
    main .s{
        flex-direction: column-reverse;
    } 
    main{
        height: 600px;
    }
    #btn1{
        margin-top: 30px;
        margin-bottom: 30px;
        min-height: 40px;
    }
    .ar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        width: 80%;
    }
    .ar1{
        width: 100vw;
        height: 1600px;
    }
    article{
        height: 1700px;
    }
    .titre3{
        height: 150px;
        align-items: flex-end;
    }
    .card img{
        width:80vw;
    }
    p{
        text-align: center;
        margin-right: 27px;
    }
    .input1{
        width: 100%;
    }
    .contact{
        height: 700px;
    }
    .input2{
        height: 200px;
    }
    .c1{
        width: 80%;
    }
    .c11{
        height: 350px;
        width: 100vw;
    }
    .carte{
        width: 100%;
        margin-bottom: 30px;
    }
    .services{
        height: 1150px;
    }
    *{
        max-width: 100vmin;
    }
    footer{
        flex-direction: column;
        height:250px;
    }
    footer p{
        font-size: 14px;
    }
    footer h1{
        font-size: 20px;
    }
    .span5{
        font-size: 17px;
    }
    #about{
    height: 800px;
    padding-top: 30px;
    text-align: center;
    }
    #h11{
        display: none;
    }
    
}
.cache{
    display: none;
}
.non_cache{
    display: block;
}
.typed-cursor{
    display: inline;
}
.active{
    color: hsl(120,100%,50%); 
}
.desactive{
    color: white;
}
@media screen and (min-width:1025px) {
    #ham{
        display: none;
    }
}
#skills {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color:hsl(228,15%,15%); ;
  }
  .title {
    text-align: center;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .title h2 {
    font-family: var(--main-font);
    letter-spacing: 6px;
    font-weight: 300;
    color: var(--title-color);
    font-size: 2rem;
    color: hsl(120,100%,50%); 
  }
  
  #skills .main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  #skills .man img {
    max-width: 300px;
  }
  
  .skills {
    max-width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    align-self: center;
  }
  
  .skills i {
    background-color: #37373766;
    padding: 1rem 1.25rem;
    border-radius: 50%;
    font-size: 2.25rem;
    margin: 1rem 1rem 2rem;
    color: var(--icon-color);
    cursor: pointer;
    position: relative;
  }
  .skills i::after {
    content: attr(data-name);
    position: absolute;
    color: white;
    bottom: 115%;
    left: 50%;
    font-size: 1.25rem;
    text-align: center;
    font-family: sans-serif;
    transform: translateX(-50%) scale(0);
    transform-origin: center bottom;
    opacity: 0;
    transition: 0.2s;
  }
  .skills i:hover {
    color: var(--original-color);
  }
  .skills i:hover::after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
  [data-name="React"] {
    padding: 1rem !important;
  }
  [data-name="SCSS"] {
    padding: 1rem 0.8rem !important;
  }
  
  @media (max-width: 992px) {
    #skills .main {
      flex-wrap: wrap;
    }
    #skills{
        height: 1300px;
    }
    .s2 img{
        width: 250px;
        border-radius: 30px;
    }
  }
  .time{
    background-color:hsl(228,15%,20%) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
  }
.stat-title{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-bottom: 20px;
}
  .timeline {
    height: 80%;
    max-width:  100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    background-color: hsl(228,15%,20%);
  }
  .timeline .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);
    margin-left: 20px;
  }
  .timeline .timeline-item .tl-icon {
    position: absolute;
    left: -27px;
    top: 0;
    background-color: var(--color-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .timeline .timeline-item .tl-icon i {
    font-size: 1.3rem;
    color: whitesmoke;
  }
  .timeline .timeline-item .tl-duration {
    padding: 0.2rem 0.6rem;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 15px;
    display: inline-block;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .timeline .timeline-item h5 {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .timeline .timeline-item h5 span {
    color: hsl(120,100%,50%);
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .timeline .timeline-item p {
    color: white;
  }
  @media (max-width: 600px) {
    #skills .main {
      width: 90%;
    }
    #skills{
        height: 1300px;
    }
  }
  @media screen and (max-width: 700px) {
    .time{
        height: fit-content;
    }
    .timeline {
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
        padding: 20PX;
      }
  }
  